// Material icons styles
.material-icons-outlines {
  font-family: 'Material Icons Outlined', 'Material Icons';
}

.material-icons-solid {
  font-family: 'Material Icons', 'Material Icons';
}

.mat-icon[data-mat-icon-type='svg'] {
  width: 16px;
  height: 16px;
}
