:host {
  background-image: url("../../../../assets/images/common/background_overlay.svg"),
    linear-gradient(180deg, #b126fb 0%, #1f73db 0%, #3049d5 100%);
  background-size: contain, contain;
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
}
